<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <div class="main-img">
          <%= image_tag "pot.jpg", width: 325, alt: "Card image cap" %>
          </div>
        </div>
        <div class="col-md-8">
          <h1 class="page-title large-title">
            ABOUT ME 
          </h1>
          <p class="about-par">I'm a full stack developer with previous background in management. I have a great passion for all things visual and technical. I love creating interactive web experiences that bring brands to life.

          When I am not developing I enjoy spending my time snowboarding, hiking, binge watching TV series and spending time with my family.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>

  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <%= image_tag "DESIGNER.jpg", width: 350, alt: "Card image cap" %>
        </div>
        <div class="col-md-4">
          <%= image_tag "CREATIVE.jpg", width: 350, alt: "Card image cap" %>
        </div>
        <div class="col-md-4">
          <%= image_tag "otherdevskills.jpg", width: 350, alt: "Card image cap" %>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <%= image_tag "frontskills.jpg", width: 350, alt: "Card image cap" %>
        </div>
        <div class="col-md-4">
          <%= image_tag "backskills.jpg", width: 350, alt: "Card image cap" %>
        </div>
        <div class="col-md-4">
          <%= image_tag "otherservices.jpg", width: 350, alt: "Card image cap" %>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
